<%= form_with url: file_uploads_path, method: :post do |form| %>
  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file, accept: '.csv' %>
  </div>

  <div>
    <%= form.label :name, 'name header', style: "display: block" %>
    <%= form.text_field :name, placeholder: 'Default: name', value: 'name' %>
  </div>

  <div>
    <%= form.label :email, 'email header', style: "display: block" %>
    <%= form.text_field :email, placeholder: 'Default: email', value: 'email' %>
  </div>

  <div>
    <%= form.label :phone, 'phone header', style: "display: block" %>
    <%= form.text_field :phone, placeholder: 'Default: phone', value: 'phone' %>
  </div>

  <div>
    <%= form.label :address, 'address header', style: "display: block" %>
    <%= form.text_field :address, placeholder: 'Default: address', value: 'address' %>
  </div>

  <div>
    <%= form.label :date_of_birth, 'date of birth header', style: "display: block" %>
    <%= form.text_field :date_of_birth, placeholder: 'Default: date_of_birth', value: 'date_of_birth' %>
  </div>

  <%= form.button 'Import' %>
<% end %>